<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="https://kendo.cdn.telerik.com/themes/8.2.1/default/default-main.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>

    <script src="https://kendo.cdn.telerik.com/2024.3.806/js/kendo.all.min.js"></script>


</head>
<body>

    <div id="example">
        


        <div id="grid"><button id="exportbtn">Export</button>

        </div>
        <button id="showSelection">Show selected IDs</button>

    </div>
   
    <script src="~/Script/Employee.js"></script>
</body>
</html>


